<!-- comment start -->
    <ol class="commentlist">
        <li id="comment-8458" class="comment even thread-even depth-1">
            <div id="div-comment-8458">
                <div class="comment-author">
                    <div id="avatar">
                        <img height="32" width="32" class="avatar avatar-32 photo" src="http://www.gravatar.com/avatar/54381ec8b096c959db4166b5b5f2db4a?s=32&amp;d=identicon&amp;r=G" alt="" original="http://www.gravatar.com/avatar/54381ec8b096c959db4166b5b5f2db4a?s=32&amp;d=identicon&amp;r=G" style="display: inline;">
                    </div>
                    <strong><a class="url" rel="external nofollow" href="http://www.ixinqi.net">爱新奇 - 爱新鲜设计 爱奇特创意</a></strong> :
                    <span class="datetime">2010年12月28日07点59</span>
                    <span class="reply"><a onclick="return addComment.moveForm(&quot;div-comment-8458&quot;, &quot;8458&quot;, &quot;respond&quot;, &quot;3143&quot;)" href="/wordpress-themes-for-your-login-form-to-add-a-front.html?replytocom=8458#respond" class="comment-reply-link" rel="nofollow">回复</a></span>
                </div>
                <p>
                    如果是多用户的WP系统 这个就显得很有必要 单用户的话不必要
                </p>
            </div>
            <ul class="children">
                <li id="comment-8459" class="comment byuser comment-author-robin bypostauthor odd alt depth-2">
                    <div id="div-comment-8459">
                        <div class="comment-author">
                            <div id="avatar">
                                <img height="32" width="32" class="avatar avatar-32 photo" src="http://www.gravatar.com/avatar/bf2cc1581debfb8fb1e9cc432b02d4dc?s=32&amp;d=identicon&amp;r=G" alt="" original="http://www.gravatar.com/avatar/bf2cc1581debfb8fb1e9cc432b02d4dc?s=32&amp;d=identicon&amp;r=G" style="display: inline;">
                            </div>
                            <strong><a class="url" rel="external nofollow" href="http://zmingcx.com">知更鸟</a></strong> :
                            <span class="datetime">2010年12月28日08点14</span>
                            <span class="reply"><a onclick="return addComment.moveForm(&quot;div-comment-8459&quot;, &quot;8459&quot;, &quot;respond&quot;, &quot;3143&quot;)" href="/wordpress-themes-for-your-login-form-to-add-a-front.html?replytocom=8459#respond" class="comment-reply-link" rel="nofollow">回复</a></span>
                        </div>
                        <p>
                            难道单用户不用登录？
                        </p>
                    </div>
                    <ul class="children">
                        <li id="comment-8468" class="comment even depth-3">
                            <div id="div-comment-8468">
                                <div class="comment-author">
                                    <div id="avatar">
                                        <img height="32" width="32" class="avatar avatar-32 photo" src="http://www.gravatar.com/avatar/8e8eb74af41d23ad1d6479d71034dce8?s=32&amp;d=identicon&amp;r=G" alt="" original="http://www.gravatar.com/avatar/8e8eb74af41d23ad1d6479d71034dce8?s=32&amp;d=identicon&amp;r=G" style="display: inline;">
                                    </div>
                                    <strong><a class="url" rel="external nofollow" href="http://i-techs.info">James</a></strong> :
                                    <span class="datetime">2010年12月28日10点50</span>
                                    <span class="reply"><a onclick="return addComment.moveForm(&quot;div-comment-8468&quot;, &quot;8468&quot;, &quot;respond&quot;, &quot;3143&quot;)" href="/wordpress-themes-for-your-login-form-to-add-a-front.html?replytocom=8468#respond" class="comment-reply-link" rel="nofollow">回复</a></span>
                                </div>
                                <p>
                                    这个回复很有意思!
                                </p>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li id="comment-8466" class="comment odd alt thread-odd thread-alt depth-1">
            <div id="div-comment-8466">
                <div class="comment-author">
                    <div id="avatar">
                        <img height="32" width="32" class="avatar avatar-32 photo" src="http://www.gravatar.com/avatar/3955d2c36122d6874beb701de8411991?s=32&amp;d=identicon&amp;r=G" alt="" original="http://www.gravatar.com/avatar/3955d2c36122d6874beb701de8411991?s=32&amp;d=identicon&amp;r=G" style="display: inline;">
                    </div>
                    <strong><a class="url" rel="external nofollow" href="http://www.yzjbj.com">未扬清</a></strong> :
                    <span class="datetime">2010年12月28日09点51</span>
                    <span class="reply"><a onclick="return addComment.moveForm(&quot;div-comment-8466&quot;, &quot;8466&quot;, &quot;respond&quot;, &quot;3143&quot;)" href="/wordpress-themes-for-your-login-form-to-add-a-front.html?replytocom=8466#respond" class="comment-reply-link" rel="nofollow">回复</a></span>
                </div>
                <p>
                    个人使用，无所谓了 ，
                </p>
            </div>
        </li>
        <li id="comment-8469" class="comment even thread-even depth-1">
            <div id="div-comment-8469">
                <div class="comment-author">
                    <div id="avatar">
                        <img height="32" width="32" class="avatar avatar-32 photo" src="http://www.gravatar.com/avatar/8201748dc20d4bd4b5d24fa1adf50752?s=32&amp;d=identicon&amp;r=G" alt="" original="http://www.gravatar.com/avatar/8201748dc20d4bd4b5d24fa1adf50752?s=32&amp;d=identicon&amp;r=G" style="display: inline;">
                    </div>
                    <strong>胡社忠</strong> :
                    <span class="datetime">2010年12月28日11点06</span>
                    <span class="reply"><a onclick="return addComment.moveForm(&quot;div-comment-8469&quot;, &quot;8469&quot;, &quot;respond&quot;, &quot;3143&quot;)" href="/wordpress-themes-for-your-login-form-to-add-a-front.html?replytocom=8469#respond" class="comment-reply-link" rel="nofollow">回复</a></span>
                </div>
                <p>
                    鸟哥抓紧开发2.4！争取在年前完成啊！给大家一个最好的春节礼物
                </p>
            </div>
        </li>
        <li id="comment-8472" class="comment odd alt thread-odd thread-alt depth-1">
            <div id="div-comment-8472">
                <div class="comment-author">
                    <div id="avatar">
                        <img height="32" width="32" class="avatar avatar-32 photo" src="http://www.gravatar.com/avatar/1340657ec082dd791adcfb23f3d69e17?s=32&amp;d=identicon&amp;r=G" alt="" original="http://www.gravatar.com/avatar/1340657ec082dd791adcfb23f3d69e17?s=32&amp;d=identicon&amp;r=G" style="display: inline;">
                    </div>
                    <strong><a class="url" rel="external nofollow" href="http://xiaopiren.com">小屁人</a></strong> :
                    <span class="datetime">2010年12月28日11点51</span>
                    <span class="reply"><a onclick="return addComment.moveForm(&quot;div-comment-8472&quot;, &quot;8472&quot;, &quot;respond&quot;, &quot;3143&quot;)" href="/wordpress-themes-for-your-login-form-to-add-a-front.html?replytocom=8472#respond" class="comment-reply-link" rel="nofollow">回复</a></span>
                </div>
                <p>
                    哈哈，原来如此……学习……
                </p>
            </div>
        </li>
        <li id="comment-8474" class="comment even thread-even depth-1">
            <div id="div-comment-8474">
                <div class="comment-author">
                    <div id="avatar">
                        <img height="32" width="32" class="avatar avatar-32 photo" src="http://www.gravatar.com/avatar/74b959391dcbd01f263d7fa7228d02ef?s=32&amp;d=identicon&amp;r=G" alt="" original="http://www.gravatar.com/avatar/74b959391dcbd01f263d7fa7228d02ef?s=32&amp;d=identicon&amp;r=G" style="display: inline;">
                    </div>
                    <strong><a class="url" rel="external nofollow" href="http://pei.gd">回忆碎片</a></strong> :
                    <span class="datetime">2010年12月28日12点34</span>
                    <span class="reply"><a onclick="return addComment.moveForm(&quot;div-comment-8474&quot;, &quot;8474&quot;, &quot;respond&quot;, &quot;3143&quot;)" href="/wordpress-themes-for-your-login-form-to-add-a-front.html?replytocom=8474#respond" class="comment-reply-link" rel="nofollow">回复</a></span>
                </div>
                <p>
                    本站只有一个用户！
                </p>
            </div>
        </li>
    </ol>
    <!-- comment end -->