<!-- comment start -->
    <ol class="commentlist">
        <li id="comment-8458" class="comment even thread-even depth-1">
            <div id="div-comment-8458">
                <div class="comment-author">
                    <div id="avatar">
                        <img height="32" width="32" class="avatar avatar-32 photo" src="http://www.gravatar.com/avatar/54381ec8b096c959db4166b5b5f2db4a?s=32&amp;d=identicon&amp;r=G" alt="" original="http://www.gravatar.com/avatar/54381ec8b096c959db4166b5b5f2db4a?s=32&amp;d=identicon&amp;r=G" style="display: inline;">
                    </div>
                    <strong><a class="url" rel="external nofollow" href="http://www.ixinqi.net">爱新奇 - 爱新鲜设计 爱奇特创意</a></strong> :
                    <span class="datetime">2010年12月28日07点59</span>
                    <span class="reply"><a onclick="return addComment.moveForm(&quot;div-comment-8458&quot;, &quot;8458&quot;, &quot;respond&quot;, &quot;3143&quot;)" href="/wordpress-themes-for-your-login-form-to-add-a-front.html?replytocom=8458#respond" class="comment-reply-link" rel="nofollow">回复</a></span>
                </div>
                <p>
                    如果是多用户的WP系统 这个就显得很有必要 单用户的话不必要
                </p>
            </div>
            <ul class="children">
                <li id="comment-8459" class="comment byuser comment-author-robin bypostauthor odd alt depth-2">
                    <div id="div-comment-8459">
                        <div class="comment-author">
                            <div id="avatar">
                                <img height="32" width="32" class="avatar avatar-32 photo" src="http://www.gravatar.com/avatar/bf2cc1581debfb8fb1e9cc432b02d4dc?s=32&amp;d=identicon&amp;r=G" alt="" original="http://www.gravatar.com/avatar/bf2cc1581debfb8fb1e9cc432b02d4dc?s=32&amp;d=identicon&amp;r=G" style="display: inline;">
                            </div>
                            <strong><a class="url" rel="external nofollow" href="http://zmingcx.com">知更鸟</a></strong> :
                            <span class="datetime">2010年12月28日08点14</span>
                            <span class="reply"><a onclick="return addComment.moveForm(&quot;div-comment-8459&quot;, &quot;8459&quot;, &quot;respond&quot;, &quot;3143&quot;)" href="/wordpress-themes-for-your-login-form-to-add-a-front.html?replytocom=8459#respond" class="comment-reply-link" rel="nofollow">回复</a></span>
                        </div>
                        <p>
                            难道单用户不用登录？
                        </p>
                    </div>
                    <ul class="children">
                        <li id="comment-8468" class="comment even depth-3">
                            <div id="div-comment-8468">
                                <div class="comment-author">
                                    <div id="avatar">
                                        <img height="32" width="32" class="avatar avatar-32 photo" src="http://www.gravatar.com/avatar/8e8eb74af41d23ad1d6479d71034dce8?s=32&amp;d=identicon&amp;r=G" alt="" original="http://www.gravatar.com/avatar/8e8eb74af41d23ad1d6479d71034dce8?s=32&amp;d=identicon&amp;r=G" style="display: inline;">
                                    </div>
                                    <strong><a class="url" rel="external nofollow" href="http://i-techs.info">James</a></strong> :
                                    <span class="datetime">2010年12月28日10点50</span>
                                    <span class="reply"><a onclick="return addComment.moveForm(&quot;div-comment-8468&quot;, &quot;8468&quot;, &quot;respond&quot;, &quot;3143&quot;)" href="/wordpress-themes-for-your-login-form-to-add-a-front.html?replytocom=8468#respond" class="comment-reply-link" rel="nofollow">回复</a></span>
                                </div>
                                <p>
                                    这个回复很有意思!
                                </p>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li id="comment-8466" class="comment odd alt thread-odd thread-alt depth-1">
            <div id="div-comment-8466">
                <div class="comment-author">
                    <div id="avatar">
                        <img height="32" width="32" class="avatar avatar-32 photo" src="http://www.gravatar.com/avatar/3955d2c36122d6874beb701de8411991?s=32&amp;d=identicon&amp;r=G" alt="" original="http://www.gravatar.com/avatar/3955d2c36122d6874beb701de8411991?s=32&amp;d=identicon&amp;r=G" style="display: inline;">
                    </div>
                    <strong><a class="url" rel="external nofollow" href="http://www.yzjbj.com">未扬清</a></strong> :
                    <span class="datetime">2010年12月28日09点51</span>
                    <span class="reply"><a onclick="return addComment.moveForm(&quot;div-comment-8466&quot;, &quot;8466&quot;, &quot;respond&quot;, &quot;3143&quot;)" href="/wordpress-themes-for-your-login-form-to-add-a-front.html?replytocom=8466#respond" class="comment-reply-link" rel="nofollow">回复</a></span>
                </div>
                <p>
                    个人使用，无所谓了 ，
                </p>
            </div>
        </li>
        <li id="comment-8469" class="comment even thread-even depth-1">
            <div id="div-comment-8469">
                <div class="comment-author">
                    <div id="avatar">
                        <img height="32" width="32" class="avatar avatar-32 photo" src="http://www.gravatar.com/avatar/8201748dc20d4bd4b5d24fa1adf50752?s=32&amp;d=identicon&amp;r=G" alt="" original="http://www.gravatar.com/avatar/8201748dc20d4bd4b5d24fa1adf50752?s=32&amp;d=identicon&amp;r=G" style="display: inline;">
                    </div>
                    <strong>胡社忠</strong> :
                    <span class="datetime">2010年12月28日11点06</span>
                    <span class="reply"><a onclick="return addComment.moveForm(&quot;div-comment-8469&quot;, &quot;8469&quot;, &quot;respond&quot;, &quot;3143&quot;)" href="/wordpress-themes-for-your-login-form-to-add-a-front.html?replytocom=8469#respond" class="comment-reply-link" rel="nofollow">回复</a></span>
                </div>
                <p>
                    鸟哥抓紧开发2.4！争取在年前完成啊！给大家一个最好的春节礼物
                </p>
            </div>
        </li>
        <li id="comment-8472" class="comment odd alt thread-odd thread-alt depth-1">
            <div id="div-comment-8472">
                <div class="comment-author">
                    <div id="avatar">
                        <img height="32" width="32" class="avatar avatar-32 photo" src="http://www.gravatar.com/avatar/1340657ec082dd791adcfb23f3d69e17?s=32&amp;d=identicon&amp;r=G" alt="" original="http://www.gravatar.com/avatar/1340657ec082dd791adcfb23f3d69e17?s=32&amp;d=identicon&amp;r=G" style="display: inline;">
                    </div>
                    <strong><a class="url" rel="external nofollow" href="http://xiaopiren.com">小屁人</a></strong> :
                    <span class="datetime">2010年12月28日11点51</span>
                    <span class="reply"><a onclick="return addComment.moveForm(&quot;div-comment-8472&quot;, &quot;8472&quot;, &quot;respond&quot;, &quot;3143&quot;)" href="/wordpress-themes-for-your-login-form-to-add-a-front.html?replytocom=8472#respond" class="comment-reply-link" rel="nofollow">回复</a></span>
                </div>
                <p>
                    哈哈，原来如此……学习……
                </p>
            </div>
        </li>
        <li id="comment-8474" class="comment even thread-even depth-1">
            <div id="div-comment-8474">
                <div class="comment-author">
                    <div id="avatar">
                        <img height="32" width="32" class="avatar avatar-32 photo" src="http://www.gravatar.com/avatar/74b959391dcbd01f263d7fa7228d02ef?s=32&amp;d=identicon&amp;r=G" alt="" original="http://www.gravatar.com/avatar/74b959391dcbd01f263d7fa7228d02ef?s=32&amp;d=identicon&amp;r=G" style="display: inline;">
                    </div>
                    <strong><a class="url" rel="external nofollow" href="http://pei.gd">回忆碎片</a></strong> :
                    <span class="datetime">2010年12月28日12点34</span>
                    <span class="reply"><a onclick="return addComment.moveForm(&quot;div-comment-8474&quot;, &quot;8474&quot;, &quot;respond&quot;, &quot;3143&quot;)" href="/wordpress-themes-for-your-login-form-to-add-a-front.html?replytocom=8474#respond" class="comment-reply-link" rel="nofollow">回复</a></span>
                </div>
                <p>
                    本站只有一个用户！
                </p>
            </div>
        </li>
        <li id="comment-8476" class="comment odd alt thread-odd thread-alt depth-1">
            <div id="div-comment-8476">
                <div class="comment-author">
                    <div id="avatar">
                        <img height="32" width="32" class="avatar avatar-32 photo" src="http://www.gravatar.com/avatar/be229483fd9f7e8203747b9805d9b2d5?s=32&amp;d=identicon&amp;r=G" alt="" original="http://www.gravatar.com/avatar/be229483fd9f7e8203747b9805d9b2d5?s=32&amp;d=identicon&amp;r=G" style="display: inline;">
                    </div>
                    <strong><a class="url" rel="external nofollow" href="http://www.youqusoft.com">优趣</a></strong> :
                    <span class="datetime">2010年12月28日12点53</span>
                    <span class="reply"><a onclick="return addComment.moveForm(&quot;div-comment-8476&quot;, &quot;8476&quot;, &quot;respond&quot;, &quot;3143&quot;)" href="/wordpress-themes-for-your-login-form-to-add-a-front.html?replytocom=8476#respond" class="comment-reply-link" rel="nofollow">回复</a></span>
                </div>
                <p>
                    对于我们这些独立博来说，用不上！
                </p>
            </div>
        </li>
        <li id="comment-8485" class="comment even thread-even depth-1">
            <div id="div-comment-8485">
                <div class="comment-author">
                    <div id="avatar">
                        <img height="32" width="32" class="avatar avatar-32 photo" src="http://www.gravatar.com/avatar/a568825a2c2882d553ea3e17849017fd?s=32&amp;d=identicon&amp;r=G" alt="" original="http://www.gravatar.com/avatar/a568825a2c2882d553ea3e17849017fd?s=32&amp;d=identicon&amp;r=G" style="display: inline;">
                    </div>
                    <strong><a class="url" rel="external nofollow" href="http://www.cgrabbit.com">cgrabbit</a></strong> :
                    <span class="datetime">2010年12月28日15点04</span>
                    <span class="reply"><a onclick="return addComment.moveForm(&quot;div-comment-8485&quot;, &quot;8485&quot;, &quot;respond&quot;, &quot;3143&quot;)" href="/wordpress-themes-for-your-login-form-to-add-a-front.html?replytocom=8485#respond" class="comment-reply-link" rel="nofollow">回复</a></span>
                </div>
                <p>
                    鸟哥，请求你网站的链接，一直关注你的动态，一开始玩wordpress就看好了你的主题，所以有个小小的心愿，还请鸟哥帮忙了！
                </p>
            </div>
            <ul class="children">
                <li id="comment-8504" class="comment odd alt depth-2">
                    <div id="div-comment-8504">
                        <div class="comment-author">
                            <div id="avatar">
                                <img height="32" width="32" class="avatar avatar-32 photo" src="http://www.gravatar.com/avatar/1340657ec082dd791adcfb23f3d69e17?s=32&amp;d=identicon&amp;r=G" alt="" original="http://www.gravatar.com/avatar/1340657ec082dd791adcfb23f3d69e17?s=32&amp;d=identicon&amp;r=G" style="display: inline;">
                            </div>
                            <strong><a class="url" rel="external nofollow" href="http://xiaopiren.com">小屁人</a></strong> :
                            <span class="datetime">2010年12月28日20点27</span>
                            <span class="reply"><a onclick="return addComment.moveForm(&quot;div-comment-8504&quot;, &quot;8504&quot;, &quot;respond&quot;, &quot;3143&quot;)" href="/wordpress-themes-for-your-login-form-to-add-a-front.html?replytocom=8504#respond" class="comment-reply-link" rel="nofollow">回复</a></span>
                        </div>
                        <p>
                            链接可以自己申请，完全自由啊！
                        </p>
                    </div>
                </li>
            </ul>
        </li>
        <li id="comment-8489" class="comment even thread-odd thread-alt depth-1">
            <div id="div-comment-8489">
                <div class="comment-author">
                    <div id="avatar">
                        <img height="32" width="32" class="avatar avatar-32 photo" src="http://www.gravatar.com/avatar/af3d1d0546cb02aea4914721c6d3c2c3?s=32&amp;d=identicon&amp;r=G" alt="" original="http://www.gravatar.com/avatar/af3d1d0546cb02aea4914721c6d3c2c3?s=32&amp;d=identicon&amp;r=G" style="display: inline;">
                    </div>
                    <strong><a class="url" rel="external nofollow" href="http://90hi.net">7silen</a></strong> :
                    <span class="datetime">2010年12月28日16点07</span>
                    <span class="reply"><a onclick="return addComment.moveForm(&quot;div-comment-8489&quot;, &quot;8489&quot;, &quot;respond&quot;, &quot;3143&quot;)" href="/wordpress-themes-for-your-login-form-to-add-a-front.html?replytocom=8489#respond" class="comment-reply-link" rel="nofollow">回复</a></span>
                </div>
                <p>
                    不懂哦。。
                </p>
            </div>
        </li>
        <li id="comment-8493" class="comment odd alt thread-even depth-1">
            <div id="div-comment-8493">
                <div class="comment-author">
                    <div id="avatar">
                        <img height="32" width="32" class="avatar avatar-32 photo" src="http://www.gravatar.com/avatar/839c5836743af7cda0b3d2c3a72bde52?s=32&amp;d=identicon&amp;r=G" alt="" original="http://www.gravatar.com/avatar/839c5836743af7cda0b3d2c3a72bde52?s=32&amp;d=identicon&amp;r=G" style="display: inline;">
                    </div>
                    <strong><a class="url" rel="external nofollow" href="http://www.seocn.co.cc">易维营销seo</a></strong> :
                    <span class="datetime">2010年12月28日17点20</span>
                    <span class="reply"><a onclick="return addComment.moveForm(&quot;div-comment-8493&quot;, &quot;8493&quot;, &quot;respond&quot;, &quot;3143&quot;)" href="/wordpress-themes-for-your-login-form-to-add-a-front.html?replytocom=8493#respond" class="comment-reply-link" rel="nofollow">回复</a></span>
                </div>
                <p>
                    呵呵，这个还没有明白是设置那个地方，干嘛用的，来看看学习下，顺便凑下热闹
                </p>
            </div>
        </li>
        <li id="comment-8497" class="comment even thread-odd thread-alt depth-1">
            <div id="div-comment-8497">
                <div class="comment-author">
                    <div id="avatar">
                        <img height="32" width="32" class="avatar avatar-32 photo" src="http://www.gravatar.com/avatar/1d60efe963961b03ff9ff04d312603e1?s=32&amp;d=identicon&amp;r=G" alt="" original="http://www.gravatar.com/avatar/1d60efe963961b03ff9ff04d312603e1?s=32&amp;d=identicon&amp;r=G" style="display: inline;">
                    </div>
                    <strong><a class="url" rel="external nofollow" href="http://www.fuyunnet.com">浮云网</a></strong> :
                    <span class="datetime">2010年12月28日18点58</span>
                    <span class="reply"><a onclick="return addComment.moveForm(&quot;div-comment-8497&quot;, &quot;8497&quot;, &quot;respond&quot;, &quot;3143&quot;)" href="/wordpress-themes-for-your-login-form-to-add-a-front.html?replytocom=8497#respond" class="comment-reply-link" rel="nofollow">回复</a></span>
                </div>
                <p>
                    学些了。
                </p>
            </div>
        </li>
        <li id="comment-8499" class="comment odd alt thread-even depth-1">
            <div id="div-comment-8499">
                <div class="comment-author">
                    <div id="avatar">
                        <img height="32" width="32" class="avatar avatar-32 photo" src="http://www.gravatar.com/avatar/6f10d15f8f1c4b05a6c9c9480f226387?s=32&amp;d=identicon&amp;r=G" alt="" original="http://www.gravatar.com/avatar/6f10d15f8f1c4b05a6c9c9480f226387?s=32&amp;d=identicon&amp;r=G" style="display: inline;">
                    </div>
                    <strong><a class="url" rel="external nofollow" href="http://www.blackxl.org">ˉ黑色.小亮</a></strong> :
                    <span class="datetime">2010年12月28日19点44</span>
                    <span class="reply"><a onclick="return addComment.moveForm(&quot;div-comment-8499&quot;, &quot;8499&quot;, &quot;respond&quot;, &quot;3143&quot;)" href="/wordpress-themes-for-your-login-form-to-add-a-front.html?replytocom=8499#respond" class="comment-reply-link" rel="nofollow">回复</a></span>
                </div>
                <p>
                    我像问下你现在用的编辑器是自带的还是用的什么, 我用fck编辑器写代码会变形, 不知道能否推荐个,
                </p>
            </div>
        </li>
        <li id="comment-8501" class="comment even thread-odd thread-alt depth-1">
            <div id="div-comment-8501">
                <div class="comment-author">
                    <div id="avatar">
                        <img height="32" width="32" class="avatar avatar-32 photo" src="http://www.gravatar.com/avatar/0669f0beeefb640a1811ad0c1ddeb60e?s=32&amp;d=identicon&amp;r=G" alt="" original="http://www.gravatar.com/avatar/0669f0beeefb640a1811ad0c1ddeb60e?s=32&amp;d=identicon&amp;r=G" style="display: inline;">
                    </div>
                    <strong><a class="url" rel="external nofollow" href="http://xqiushi.com">xqiushi</a></strong> :
                    <span class="datetime">2010年12月28日20点00</span>
                    <span class="reply"><a onclick="return addComment.moveForm(&quot;div-comment-8501&quot;, &quot;8501&quot;, &quot;respond&quot;, &quot;3143&quot;)" href="/wordpress-themes-for-your-login-form-to-add-a-front.html?replytocom=8501#respond" class="comment-reply-link" rel="nofollow">回复</a></span>
                </div>
                <p>
                    暂时不折腾这个，等2.4
                </p>
            </div>
            <ul class="children">
                <li id="comment-8503" class="comment odd alt depth-2">
                    <div id="div-comment-8503">
                        <div class="comment-author">
                            <div id="avatar">
                                <img height="32" width="32" class="avatar avatar-32 photo" src="http://www.gravatar.com/avatar/1340657ec082dd791adcfb23f3d69e17?s=32&amp;d=identicon&amp;r=G" alt="" original="http://www.gravatar.com/avatar/1340657ec082dd791adcfb23f3d69e17?s=32&amp;d=identicon&amp;r=G" style="display: inline;">
                            </div>
                            <strong><a class="url" rel="external nofollow" href="http://xiaopiren.com">小屁人</a></strong> :
                            <span class="datetime">2010年12月28日20点26</span>
                            <span class="reply"><a onclick="return addComment.moveForm(&quot;div-comment-8503&quot;, &quot;8503&quot;, &quot;respond&quot;, &quot;3143&quot;)" href="/wordpress-themes-for-your-login-form-to-add-a-front.html?replytocom=8503#respond" class="comment-reply-link" rel="nofollow">回复</a></span>
                        </div>
                        <p>
                            我也是，哈哈！
                        </p>
                    </div>
                </li>
            </ul>
        </li>
        <li id="comment-8506" class="comment even thread-even depth-1">
            <div id="div-comment-8506">
                <div class="comment-author">
                    <div id="avatar">
                        <img height="32" width="32" class="avatar avatar-32 photo" src="http://www.gravatar.com/avatar/4c8a4935037c84c4b0a43ea4bf307f05?s=32&amp;d=identicon&amp;r=G" alt="" original="http://www.gravatar.com/avatar/4c8a4935037c84c4b0a43ea4bf307f05?s=32&amp;d=identicon&amp;r=G" style="display: inline;">
                    </div>
                    <strong><a class="url" rel="external nofollow" href="http://www.rething.cn">→☆［暗］☆←</a></strong> :
                    <span class="datetime">2010年12月28日20点30</span>
                    <span class="reply"><a onclick="return addComment.moveForm(&quot;div-comment-8506&quot;, &quot;8506&quot;, &quot;respond&quot;, &quot;3143&quot;)" href="/wordpress-themes-for-your-login-form-to-add-a-front.html?replytocom=8506#respond" class="comment-reply-link" rel="nofollow">回复</a></span>
                </div>
                <p>
                    曾经有人要过这个
                </p>
            </div>
        </li>
        <li id="comment-8511" class="comment odd alt thread-odd thread-alt depth-1">
            <div id="div-comment-8511">
                <div class="comment-author">
                    <div id="avatar">
                        <img height="32" width="32" class="avatar avatar-32 photo" src="http://www.gravatar.com/avatar/2aac85391f1459cda001b6338b8acaba?s=32&amp;d=identicon&amp;r=G" alt="" original="http://www.gravatar.com/avatar/2aac85391f1459cda001b6338b8acaba?s=32&amp;d=identicon&amp;r=G" style="display: inline;">
                    </div>
                    <strong>carryde</strong> :
                    <span class="datetime">2010年12月29日02点26</span>
                    <span class="reply"><a onclick="return addComment.moveForm(&quot;div-comment-8511&quot;, &quot;8511&quot;, &quot;respond&quot;, &quot;3143&quot;)" href="/wordpress-themes-for-your-login-form-to-add-a-front.html?replytocom=8511#respond" class="comment-reply-link" rel="nofollow">回复</a></span>
                </div>
                <p>
                    我刚接触WP的一个菜鸟，有几个问题想请教下
                </p>
                <p>
                    第1个，希望2.4可以实现顶部时间显示和底部唠叨
                </p>
                <p>
                    第2个， 博客开启注册后注册的密码是系统发还是自己发？
                </p>
                <p>
                    第3个， 被围观次数怎么显示？
                </p>
                <p>
                    希望楼主能不厌其烦，百忙中抽出一点吸烟的空档为我一解。
                </p>
            </div>
            <ul class="children">
                <li id="comment-8514" class="comment byuser comment-author-robin bypostauthor even depth-2">
                    <div id="div-comment-8514">
                        <div class="comment-author">
                            <div id="avatar">
                                <img height="32" width="32" class="avatar avatar-32 photo" src="http://www.gravatar.com/avatar/bf2cc1581debfb8fb1e9cc432b02d4dc?s=32&amp;d=identicon&amp;r=G" alt="" original="http://www.gravatar.com/avatar/bf2cc1581debfb8fb1e9cc432b02d4dc?s=32&amp;d=identicon&amp;r=G" style="display: inline;">
                            </div>
                            <strong><a class="url" rel="external nofollow" href="http://zmingcx.com">知更鸟</a></strong> :
                            <span class="datetime">2010年12月29日09点17</span>
                            <span class="reply"><a onclick="return addComment.moveForm(&quot;div-comment-8514&quot;, &quot;8514&quot;, &quot;respond&quot;, &quot;3143&quot;)" href="/wordpress-themes-for-your-login-form-to-add-a-front.html?replytocom=8514#respond" class="comment-reply-link" rel="nofollow">回复</a></span>
                        </div>
                        <p>
                            1.嗯
                            <br>
                            2.试一下
                            <br>
                            3,wp-postviews-plus插件
                        </p>
                    </div>
                </li>
            </ul>
        </li>
        <li id="comment-8527" class="comment odd alt thread-even depth-1">
            <div id="div-comment-8527">
                <div class="comment-author">
                    <div id="avatar">
                        <img height="32" width="32" class="avatar avatar-32 photo" src="http://www.gravatar.com/avatar/8b1fe985a4100d24dae0f3260bab41b0?s=32&amp;d=identicon&amp;r=G" alt="" original="http://www.gravatar.com/avatar/8b1fe985a4100d24dae0f3260bab41b0?s=32&amp;d=identicon&amp;r=G" style="display: inline;">
                    </div>
                    <strong><a class="url" rel="external nofollow" href="http://www.taokechina.com">苹果</a></strong> :
                    <span class="datetime">2010年12月29日12点20</span>
                    <span class="reply"><a onclick="return addComment.moveForm(&quot;div-comment-8527&quot;, &quot;8527&quot;, &quot;respond&quot;, &quot;3143&quot;)" href="/wordpress-themes-for-your-login-form-to-add-a-front.html?replytocom=8527#respond" class="comment-reply-link" rel="nofollow">回复</a></span>
                </div>
                <p>
                    我把导航菜单上的首页小房子图标改成了苹果，这个苹果是从apple网站摘的
                </p>
            </div>
        </li>
        <li id="comment-8531" class="comment even thread-odd thread-alt depth-1">
            <div id="div-comment-8531">
                <div class="comment-author">
                    <div id="avatar">
                        <img height="32" width="32" class="avatar avatar-32 photo" src="http://www.gravatar.com/avatar/a568825a2c2882d553ea3e17849017fd?s=32&amp;d=identicon&amp;r=G" alt="" original="http://www.gravatar.com/avatar/a568825a2c2882d553ea3e17849017fd?s=32&amp;d=identicon&amp;r=G" style="display: inline;">
                    </div>
                    <strong><a class="url" rel="external nofollow" href="http://www.cgrabbit.com">cgrabbit</a></strong> :
                    <span class="datetime">2010年12月29日13点25</span>
                    <span class="reply"><a onclick="return addComment.moveForm(&quot;div-comment-8531&quot;, &quot;8531&quot;, &quot;respond&quot;, &quot;3143&quot;)" href="/wordpress-themes-for-your-login-form-to-add-a-front.html?replytocom=8531#respond" class="comment-reply-link" rel="nofollow">回复</a></span>
                </div>
                <p>
                    求鸟哥网站以链接
                    <br>
                    网站名：CgRabbit博客
                    <br>
                    域名：www.cgrabbit.com
                    <br>
                    网站描述：关注互联网技术、互联网新闻、编程语言与技巧、生活探讨、经验分享、提高网络生活品质，书写强有力的北漂奋斗史！
                </p>
                <p>
                    谢谢鸟哥！
                </p>
            </div>
        </li>
    </ol>
    <!-- comment end -->