<!-- sidebar start -->
<div id="sidebar">
    <div class="block">
        <p class="about-me">
            个人简介，问候语
        </p>
    </div>
    <div class="block">
        <h3>Follow me</h3>
        <ul>
            <li>
                <a href="http://twitter.com/">twitter.com/</a>
            </li>
            <li>
                <a href="http://twitter.com/">sina.com/</a>
            </li>
        </ul>
    </div>
    <div class="block">
        <h3>归档分类</h3>
        <ul>
            <li>
                <a href="#" title="InstaLyrics - the lyrics instant search engine">测试分类测试分类测试分类</a>
            </li>
            <li>
                <a href="#" title="InstaLyrics - the lyrics instant search engine">测试分类</a>
            </li>
            <li>
                <a href="#" title="InstaLyrics - the lyrics instant search engine">测试分类</a>
            </li>
            <li>
                <a href="#" title="InstaLyrics - the lyrics instant search engine">测试分类</a>
            </li>
            <li>
                <a href="#" title="InstaLyrics - the lyrics instant search engine">测试分类</a>
            </li>
            <li>
                <a href="#" title="InstaLyrics - the lyrics instant search engine">测试分类</a>
            </li>
        </ul>
    </div>
    <div class="block">
        <h3>最新文章</h3>
        <ul>
            <% 5.times do %>
            <li>
                <a href="#" title="测试文章测试文章测试文章">测试文章测试文章测试文章</a>
            </li>
            <% end -%>
        </ul>
    </div>
    <div class="block">
        <h3>时间归档</h3>
        <ul>
            <li>
                <a href="#" title="2010年12月份">2010年 12月份</a>
            </li>
            <li>
                <a href="#" title="2010年12月份">2010年 12月份</a>
            </li>
            <li>
                <a href="#" title="2010年12月份">2010年 12月份</a>
            </li>
            <li>
                <a href="#" title="2010年12月份">2010年 12月份</a>
            </li>
            <li>
                <a href="#" title="2010年12月份">2010年 12月份</a>
            </li>
        </ul>
    </div>
</div>
<!-- sidebar end -->