<div class="clear">
</div>
<!-- content start -->
<div id="content" >
  <ul class="post_list">
    <% 5.times do %>
      <li>
        <h2>
          <%= link_to "这里是标题", "#" %>
        </h2>
        <div class="info">
          5天前 BlueBu
        </div>
        <div class="summary">
          这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述
          <span class="more"><%= link_to "阅读全文>>", "#"%></span>
        </div>
      </li>
    <% end -%>
  </ul>
</div>
<!-- content end -->
<%= render :partial => 'sidebar' %>
<div class="clear">
</div>