<div id="css_sidebar">
   <h1 class="title"><a href="/admin">后台管理系统</a></h1>
    <div class="panel">
        <ul class="list">
        	<li><a href="/admin/categories">分类管理</a></li>
            <li><a href="/admin/articles">文章管理</a></li>
            <li><a href="/admin/posts">留言管理</a></li>
        </ul>
    </div>

    <div class="clear"></div>
</div>