<tr>
    <td class="column_1">
        名称：
    </td>
    <td class="column_2">
        <%= f.text_field :name %>
    </td>
</tr>
<tr>
    <td class="column_1">
        栏目描述：
    </td>
    <td class="column_2">
        <%= f.text_area :info, :cols => 50, :rows => 10 %>
    </td>
</tr>
