<!-- Intro lead text -->
    <div class="intro">
        <img src="/images/root/intro.png" alt="Hi, my name is Mike and I'm a freelance web designer. I take your ideas and turn them into gold without breaking the bank. Please browse through my work and contact me if you have any questions." />
    </div>

    <!-- Latest project -->
    <h2 id="latest-project-title"><img src="/images/root/titles/latest-project.png" alt="Latest project" /></h2>
    <div id="latest-project">
        <div class="preview">
            <a href="#" class="changer prev"><img src="/images/root/change-prev.png" alt="Previous item" /></a>
            <a href="#" class="changer next"><img src="/images/root/change-next.png" alt="Next item" /></a>
            <img src="/images/root/projects/panda.png" alt="Panda Sofas" class="image" />
        </div>
        <div class="descr">

            <h3 class="title">Panda Sofas</h3>
            <p class="description">Panda Sofas approached me with a vision. They wanted a warm interior themed website with basic functions and they wanted it in time for their grand opening a week later. Total project completion time was 48 hours of grinding but it was well worth it.</p>
            <p class="actions"><a href="#">Launch</a> <a href="#">Details</a></p>
        </div>
    </div>

    <!-- Past work -->

    <h2><img src="/images/root/titles/past-work.png" alt="Past work" /></h2>
    <div id="past-work">
        <ul class="item">
          <li><a href="#">我的日志我的日志我的日志我的日</a></li>
          <li><a href="#">我的日志我的日志我的日志我的日</a></li>
          <li><a href="#">我的日志我的日志我的日志我的日</a></li>
          <li><a href="#">我的日志我的日志我的日志我的日</a></li>
          <li><a href="#">我的日志我的日志我的日志我的日</a></li>
        </ul>
        <ul class="item">
          <li><a href="#">我的日志我的日志我的日志我的日</a></li>
          <li><a href="#">我的日志我的日志我的日志我的日</a></li>
          <li><a href="#">我的日志我的日志我的日志我的日</a></li>
          <li><a href="#">我的日志我的日志我的日志我的日</a></li>
          <li><a href="#">我的日志我的日志我的日志我的日</a></li>
        </ul>
        <ul class="item">
          <li><a href="#">我的日志我的日志我的日志我的日</a></li>
          <li><a href="#">我的日志我的日志我的日志我的日</a></li>
          <li><a href="#">我的日志我的日志我的日志我的日</a></li>
          <li><a href="#">我的日志我的日志我的日志我的日</a></li>
          <li><a href="#">我的日志我的日志我的日志我的日</a></li>
        </ul>
        <div class="clear"></div>
    </div>