 <!-- Footer -->
<div id="footer">
    <div class="contact">
        <h2><img src="/images/root/titles/contact.png" alt="Contact Me" /></h2>
        <p class="lead">Whew! I'm BlueBu! Welcome to my blog!</p>
        <p><strong>QQ</strong>: 327866641</p>
        <p><strong>EM</strong>: <%= mail_to "git.clone@gmail.com" %></p>

    </div>
    <div class="about">
        <h2><img src="/images/root/titles/about.png" alt="About Me" /></h2>
        <p>
          一个喜爱编程的家伙
        </p>
    </div>
    <div class="clear"></div>
</div>