<!-- Header - logo and navigation -->
<div id="header">
    <!-- 'Floating' logo -->

    <div class="logo"><span>Hi-Ruby中文站即将启航</span></div>
    <!-- Navigation -->
    <ol id="navigation">
        <!-- Use this id to identify the active page -->
        <li<%= " class='active-page'" if params[:controller]=='root'%>><a href="/" title="首页">首页</a></li>
        <li<%= " class='active-page'" if params[:controller]=='articles'%>><a href="/blog" title="博客">博客</a></li>
        <li<%= " class='active-page'" if params[:controller]=='codes'%>><a href="/code" title="代码库">代码库</a></li>
        <li<%= " class='active-page'" if params[:controller]=='me'%>><a href="/me" title="关于我">关于我</a></li>
    </ol>
    <div class="clear"></div>
</div>
