<!-- Header - logo and navigation -->
<div id="header">
    <!-- 'Floating' logo -->

    <h1><span>Hi-Ruby中文站即将启航</span></h1>
    <!-- Navigation -->
    <ol id="navigation">
        <!-- Use this id to identify the active page -->
        <li id="active-page"><a href="/">首页</a></li>
        <li><a href="/blog">博客</a></li>
        <li><a href="/code">代码库</a></li>

        <li><a href="/me">其他</a></li>
    </ol>
    <div class="clear"></div>
</div>